---
import { DiscordIcon } from "@/icons/Discord";
---

<header
  class="bg-slate-900/60 rounded-2xl border border-slate-700/60
px-4 py-4 sm:mt-6 mb-10 mx-auto
max-w-4xl flex flex-row items-center justify-between
backdrop-blur shadow-stone-300/20 shadow-[0_18px_40px_-18px]"
>
  <a href="/" class="flex flex-row items-center gap-2">
    <img
      class="h-10 sm:h-12 object-contain"
      src="/assets/images/logo.webp"
      alt="Logo"
    />
    <span
      class="hidden sm:block md:ms-1
        lg:text-2xl sm:text-xl font-bold tracking-tight"
    >
      MiniMessage Editor
    </span>
  </a>

  <nav class="flex flex-row gap-2 items-center p-2">
    <a
      href="https://discord.gg/HN7yAqDWvG"
      class="nav-link
        font-semibold hover:font-bold
        flex flex-row items-center gap-1
        px-3 py-1.5
        hover:text-slate-100 hover:shadow-lg hover:shadow-slate-600/20
        rounded-lg
        bg-slate-800/40 hover:bg-slate-700/50
        border border-transparent hover:border-slate-600/60"
    >
      <DiscordIcon className="size-5" />
      <span>Discord</span>
    </a>
    <a
      href="https://builtbybit.com/creators/loopbreak.57501/"
      class="nav-link
        min-w-fit
        font-semibold hover:font-bold
        px-3 py-1.5
        hover:text-slate-100 hover:shadow-lg hover:shadow-slate-600/20
        rounded-lg
        bg-slate-800/40 hover:bg-slate-700/50
        border border-transparent hover:border-slate-600/60"
      >My Resources</a
    >
  </nav>
</header>
